.services {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 1000px; */
    width: 100%;
    /* border: 1px solid #333; */
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #b9b9b9a1 !important;
}

.swiper-button-next:hover {
    color: #febb02 !important;
}

.swiper-button-prev:hover {
    color: #febb02 !important;
}

.slide-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    border-radius: 0px 80px 67px 67px;
    transition: all 0.5s ease-in-out;
}

.slide-img:hover {
    transform: scale(1.1);
}

.one:hover {
    box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 8px 12px 21px -3px rgba(0, 0, 0, 0.28);
    border-radius: 0px 80px 67px 67px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.one:hover .txt {
    background-color: #61ff6bbf;
    color: #fff;
}

.img-container {
    position: relative;
}

.txt {
    position: absolute;
    left: 0;
    bottom: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    color: #270f0fdc;
    background-color: #dbc4c465;
    transition: all 0.5s ease-in-out;
}

.txt .spa {
    color: #febb02;
    font-size: 1.43rem;
}

.txt .ser-para {
    text-align: center;
}