:root{
    --header-height: 3rem;
    --nav-width:78px;
    --sidebar-color: #333;
    --first-content-color: #FFFFFF;
    --font-color: #18AEFA;
    --listItem-color: #f8f4f6;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
#sidebar{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 .88rem;
    font-size: 1rem;
    transition: 0.5s;
    
}
.header{
    position: fixed;
    top: 0;
    left:0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: .5s;
    /* border-bottom: 1px solid #99999980; */
    background-color: var(--sidebar-color);
}

.headerToggle{
    font-size: 1.25em;
    cursor: pointer;
    color: var(--first-content-color);
}
#headerIcon{
    color: var(--listItem-color);
    font-size: 1.56rem;
    color: #02a9fc;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    left: -30%;
    height: auto;
    width: var(--nav-width);
    background-color: var(--sidebar-color);
    padding-top: 1rem;
    transition:0.5s;
}

/* SIDEBAR SUB MENU STYLES START */

.sidebar-item{
    /* padding: .75em 1em; */
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: background-color .15s;
    border-radius: 5px;
  }
  .sidebar-item:hover{
    background-color: #ffffff1a;
  }
  
  .sidebar-title{
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-title span i{
    display: inline-block;
    width: 1.5em;
  }
  .sidebar-title .toggle-btn{
    margin-left: -1.6rem !important;
    cursor: pointer;
    transition: transform .3s;
  }
  .sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
  }
  .sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
  }
  .sidebar-item.open > .sidebar-content{
    height: auto;
  }
  /* SIDEBAR TEACHER */
 
 
  /* SIDEBAR TEACHER END */
  .sidebar-submenu{
      margin-bottom: 1rem;
  }
#navLinkIcon{
    margin-right: 2rem !important;
}
/* SIDEBAR SUB MENU STYLES END */


/* sidebar scrollbar style */
.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    opacity: 0;
}
.sidebar::-webkit-scrollbar-button {
    display: none;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #E6E6E8;
}

.sidebar::-webkit-scrollbar-track {
    border-radius: 50px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar:hover::-webkit-scrollbar {
    display: block;
    background: fff;
}


/* nav item style */
.nav{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    overflow: hidden;
    height: 100%;
    position: relative;        
}

.navLogo,.navLink {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
  
}
.navLogo{
    margin-bottom: 2rem;
    font-weight: 700;
    color: var(--listItem-color) !important;
}

#navLogoIcon{
    font-size: 1.25rem;
    color: var(--listItem-color);
    cursor: pointer;
}
.navLinkName{
    font-weight: 700;
}

.navLink{
    position: relative;
    color: var(--listItem-color);
    transition: 0.5s;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
#navLinkIcon{
    margin-right: 1rem;
}
.navLink:hover{
    color: var(--font-color);
    /* background-color: var(--first-content-color) !important; */
}
.dropdown-menu{
    background-color: var(--sidebar-color);
}
.headerImgContainer{
    width: 5%;
    height: 3rem;
    display: flex;
    margin: 3rem;
    align-items: center;
    
}
.topleft{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .bell{
    font-size: 1.56rem;
    color: var(--listItem-color);
    margin-right: 1rem;
}
.headerImg{
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-toggle{
    color: #fff;
    margin-left:.4rem;
    font-size: 1.33rem;
}
#active{
    color: var(--listItem-color) !important;
    background-color: var(--sidebar-color) !important;
    font-weight: 600;

}
#active:hover{
    color:#02a9fc !important;
}
#active::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 4px;
    background-color: var(--font-color);
    transition: 0.5s;
}
 .show{
    left: 0%;
} 

#post-li{
    color: var(--listItem-color) !important;
    font-weight: 600;
}
#post-li:hover{
    color: var(--font-color) !important
}

/* #sidebar:hover .show {
    width: calc(var(--header-height) + 156px)
} */
.spaceToggle{
    padding-left: calc(var(--nav-width) + 1rem);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    margin-top: 7rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    color: var(--font-color);
    border: 1px solid #333;
}

/* dropdown menus styles */


@media only screen and (min-width: 768px) {
    #sidebar{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + .2rem);
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .sidebar{
        left: 0;
        padding: 1rem 0 0 0;
    }
    #sidebar:hover .show{
        width: calc(var(--header-height) + 156px)
    }
    #sidebar:hover .header{
        padding-left: calc(var(--nav-width) + 170px);
    }

    /* .show{
        width: calc(var(--header-height) + 156px)
    } */
    .spaceToggle{
        padding-left: calc(var(--nav-width) + 170px);
    }
} 
@media only screen and (max-width: 468px) {
    #sidebar{
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding: 0 1rem 0 calc(var(--nav-width) + .2rem);
    }
    #sidebar:hover .show{
        width: calc(var(--header-height) + 156px)
    }
    #sidebar:hover .header{
        padding-left: calc(var(--nav-width) + 170px);
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding-left: calc(var(--nav-width) + 2rem);
    }
    .sidebar{
        left: 0;
        padding: 1rem 1rem 0 0;
    }
    #navLinkIcon{
        margin-right: 2rem;
    }
    /* .show{
        width: calc(var(--header-height) + 156px)
    } */
    .spaceToggle{
        padding-left: calc(var(--nav-width) + 170px);
    }
    .topleft{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .headerImg{
        width: 70%;
        height: 70%;
    }
}