::-webkit-scrollbar{
    width: 8px;
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #fd2929f5;
    border-radius:12px;
}
/* body{
    scroll-behavior: smooth;
} */

.dark-theme{
    background-color: #222;
    color: #f3f3f3;
}
.dark-theme h2{
    color: #222;
}
.dark-theme h5{
    color: #afafaf;
}
.light-theme{
    background-color: #fff;
}